<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">
    <title>UECSJ|Institución</title>
    <script>
        window.jQuery || document.write('<script src="../../../assets/js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="../../../assets/js/modernizr.js"></script>
    <script src="../../../assets/js/main.js"></script>
</head>

<body>
    <app-header></app-header>
    <section class="full-reset" style="background-color: #fff; padding: 20px 0;">
        <div class="container">
            <div class="row">
                <section class="col-xs-12 col-sm-8 col-md-9 info-section-ins">
                    <article class="full-reset" id="mision">
                        <div class="page-header" style="margin-bottom:40px;">
                            <h1><i class="fa fa-graduation-cap"></i> &nbsp; Misión y Vision</h1>
                        </div>
                        <br><br>
                        <div class="panel panel-primary">
                            <div class="panel-heading lead text-center titles">Misión</div>
                            <div class="panel-body">
                                <p class="lead text-justify">
                                    Ofertar a la juventud una sólida formación integral en el campo cientifico, desarrollar su habilidades y destrezas; así como fortalecer su espíritu, a través del fenomeno de los valores, con el fin de aportar positivamente al desarrollo del país. </p>
                            </div>
                        </div>
                        <br><br>
                        <div class="panel panel-primary">
                            <div class="panel-heading lead text-center titles">Visión</div>
                            <div class="panel-body">
                                <p class="lead text-justify">
                                    Consolidar y fortalecer el prestigio de la UECSJ, a través de una oferta académica moderna, cientifica y humanista, con el propósito de constituirse en modelo educativo local y nacional.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="full-reset" id="resena">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Reseña histórica</h1>
                        </div>
                        <h3 class="text-center titles text-uppercase">Antecedentes</h3>
                        <p class="lead text-justify">
                            La Unidad Educativa Técnica de Aviación Civil, es una unidad educativa, fundada el 22 de septiembre de 1977, en la ciudad de Quito, Ecuador, y aprobada por el Ministerio de Educación y Cultura del Ecuador. Actualmente es una unidad educativa, que otorga
                            el título intermedio de bachillerato en Ciencias.
                            <br><br> Dentro de sus instalaciones, pero a nivel de educación superior, funciona también el Instituto Superior Tecnológico de Aviación Civil (ISTAC), creado anteriormente, el 28 de febrero de 1966 como Escuela Técnica de
                            Aviación Civil (ETAC), adscrita a la Organización de Aviación Civil Internacional (OACI), como una opción educativa para los nuevos graduados secundarios, que deseen continuar sus estudios dentro de las carreras técnicas que
                            dan soporte a las operaciones aeronáuticas.
                            <br><br> Durante la dictadura militar del Consejo Supremo de Gobierno, triunvirato liderado por el almirante de la Armada del Ecuador, Alfredo Poveda Burbano, que gobernó de 1976 a 1979; se fundó esta institución con el nombre
                            de Unidad Educativa Técnica de Aviación Civil (UECSJ), el 22 de septiembre de 1977, siendo un colegio particular de educación secundaria exclusivamente masculino, debido a su naturaleza inspirada en el mundo de la aviación
                            militar. A partir del año 2000 pasó a tener alumnado mixto, de cadetes varones y mujeres (coeducación), y en enero de 2011 dejó de ser de carácter privado y se convirtió en establecimiento de educación pública.
                        </p>
                    </article>
                    <article class="full-reset" id="ubicacion">
                        <div class="page-header">
                            <h1><i class="fa fa-map"></i> &nbsp; Ubicación geográfica</h1>
                        </div>
                        <p class="lead text-justify">
                            Dirección: Capitan Yepez y Av. Galo Plaza Lasso OE 1-44, Quito 170138
                        </p>
                        <br><br>
                        <h3 class="text-center titles"><i class="fa fa-map-marker"></i> &nbsp; Mapa de localización</h3>
                        <br>
                        <div id="mapa-ins">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8072417780277!2d-78.48543468566524!3d-0.1350214999014832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5855bab58c2f9%3A0x769772d660fd3951!2sUnidad%20Educativa%20Aviaci%C3%B3n%20Civil%20%22COTAC%22!5e0!3m2!1ses!2sec!4v1592708277058!5m2!1ses!2sec"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </article>
                </section>
                <app-nav></app-nav>
            </div>
        </div>
    </section>
    <app-footer-landing></app-footer-landing>
</body>