<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">
    <title>UECSJ|Home</title>
    <script>
        window.jQuery || document.write('<script src="../../../assets/js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="../../../assets/js/modernizr.js"></script>
    <script src="../../../assets/js/main.js"></script>
</head>

<body>
    <app-header></app-header>
    <section class="full-reset font-cover" style="background-image: url(assets/img/1.jpg);">
        <div class="full-reset" style="height: 100%; background-color: rgba(255,255,255,.6); padding: 60px 0;">
            <h1 class="text-center titles">Unidad Educativa Colegio San Jose de Olmedo</h1>
            <figure class="Logo-Ins-Index">
                <img src="../../../assets/img/logo.png" alt="Logo" class="img-responsive">
            </figure>
            <p class="lead text-center">
                "Una buena vida es aquella inspirada por el amor y guiada por la inteligencia"
            </p>
        </div>
    </section>
    <div class="divider-general"></div>
    <section class="full-reset" style="background-color: rgb(242, 242, 242); padding: 40px 0;">
        <div class="container">
            <h2 class="text-center titles">Instalaciones de la institución</h2>
            <br><br>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center titles">Fotos Instalaciones</h3>
                    <p class="lead">La unidad educativa dispone de una infraestructura amplia y moderna, capaz de garantizar una formación de excelente nivel.
                        <br> Los estudiantes cuentan con todo lo necesario para su formacion integral, posee laboratoios, canchas deportivas, piscina, gimnasio, auditorio, etc.
                    </p>
                </div>
                <div class="movimiento">
                    <div>
                        <ul>
                            <li><img src="../../../assets/img/1.jpg" alt=""></li>
                            <li><img src="../../../assets/gallery/2.jpg" alt=""></li>
                            <li><img src="../../../assets/gallery/3.jpg" alt=""></li>
                            <li><img src="../../../assets/gallery/5.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="divider-general"></div>
            <h2 class="text-center titles">Video Institucional</h2>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center titles">Nuestro Objetivo</h3>
                    <p class="lead">Promover hábitos de estudio, trabajo, colaboración y responsabilidad con base en la autodisciplina. Fomentar el desarrollo pleno de las habilidades y cualidades individuales de cada estudiante en lo emocional, social, psíquico, científico,
                        deportivo y artístico.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ix9Tpjs3qJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-general"></div>
    <section class="events-ins">
        <div class="container-fluid">
            <h2 class="text-center titles">ACONTECER INSTITUCIONAL</h2>
            <br><br>
            <div class="row">
                <article class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="movimiento">
                            <div>
                                <ul>
                                    <li><img src="../../../assets/gallery/DiaM1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/DiaM2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/DiaM3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/DiaM4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="caption">
                            <h3 class="text-center">Festejando a Mamá en su día</h3>
                            <p class="text-justify">El Día de las madres es una celebración especial, cuando eramos pequeños bastaba con salir a bailar en el festival escolar para decirle a mamá cuanto la queremos.
                            </p>
                        </div>
                    </div>
                </article>
                <!--======================================== Articulo 2 ========================================-->
                <article class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="movimiento">
                            <div>
                                <ul>
                                    <li><img src="../../../assets/gallery/Ju1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ju2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ju3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ju4.jpeg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="caption">
                            <h3 class="text-center">Juramento a la Bandera</h3>
                            <p class="text-justify">La alegría que produce a los estudiantes es inigualable, especialmente para los abanderados, portaestandartes y escoltas del acto, que son los encargados de hacer jurar la bandera a sus demás compañeros, y que además son los
                                más destacados en notas en todos sus años de estudio.</p>

                        </div>
                    </div>
                </article>
                <!--======================================== Articulo 3 ========================================-->
                <article class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="movimiento">
                            <div>
                                <ul>
                                    <li><img src="../../../assets/gallery/Ba1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ba2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ba3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/Ba4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="caption">
                            <h3 class="text-center">Bienvenidos Novatos</h3>
                            <p class="text-justify">Tercer año de bachillerato conjuntamente con el gobierno estudiantil organizo una gran bienvenida y recibimiento a los nuevos hijos del Colegio Fiscal San José de Olmedo.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <div class="divider-general"></div>
    <app-footer-landing></app-footer-landing>
</body>