<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">
    <title>UECSJ|Academia</title>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="../../../assets/js/modernizr.js"></script>
    <script src="../../../assets/js/main.js"></script>
</head>

<body>
    <app-header></app-header>
    <section class="full-reset" style="background-color: #fff; padding: 20px 0;">
        <div class="container">
            <div class="row">
                <section class="col-xs-12 col-sm-8 col-md-9 info-section-ins">
                    <article class="full-reset" id="inicial">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Inicial</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="lead text-justify">
                                    En la Unidad Educativa Colegio San Jose de Olmedo, consciente de su compromiso con la sociedad y en busca de contribuir a la formación integral en la niñez y juventud ecuatoriana, propone en el año 2005, la creación del Nivel Inicial y Primero de Básica;
                                    asumiendo la formación de niños y niñas.
                                    <br> Para establecer la base sólida hacia el éxito escolar, el proyecto educativo en estos niveles, se enfoca en afianzar el desarrollo de las áreas cognitiva, afectiva, psicomotriz, pues se ha determinado que esta
                                    es la etapa más propicia para la construcción de redes neurocerebrales permanentes, con la mediación de experiencias adecuadas en ambientes afectivos.
                                    <br> Se trabaja a través de Centros de Aprendizaje. Esta metodología ayuda a los niños y niñas a tomar decisiones, a asumir responsabilidades y los estimula al uso autónomo de los materiales, favoreciendo la exploración
                                    y la creatividad.
                                </p>
                            </div>
                            <div class="movimiento">
                                <ul>
                                    <li><img src="../../../assets/gallery/inicial2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/inicial1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/inicial3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/inicial4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <div class="divider-general"></div>
                    <article class="full-reset" id="elemental">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Básica Elemental</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="lead text-justify">
                                    La Básica Elemental de la Unidad Educativa Colegio San Jose de Olmedo comprende segundo, tercero y cuarto años de educación general básica. Es decir, se trabaja con niños y niñas de entre seis a ocho años de edad.
                                    <br> La metodología utilizada en el subnivel, al igual que en el resto de la Unidad Educativa, es de proyectos de comprensión que son ejecutados mediante trabajo cooperativo. A través de esta práxis educativa los estudiantes
                                    adquieren comprensiones interdisciplinares y habilidades sociales que les permitirán tener las herramientas necesarias para desenvolverse en las siguientes etapas de su vida.
                                </p>
                            </div>
                            <div class="movimiento">
                                <ul>
                                    <li><img src="../../../assets/gallery/basicaelem2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicaelem1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicaelem3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicaelem4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <br>
                    <div class="divider-general"></div>
                    <article class="full-reset" id="media">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Básica Media</h1>
                        </div>
                        <div>
                            <div class="col-xs-12 col-sm-6">
                                <p class="lead text-justify">
                                    En la Básica Media, igual que en toda la institución, brindamos una formación integral. Trabajamos a través de los proyectos de comprensión que involucran investigación, trabajo colaborativo y experiencial. También se viven proyectos de aprendizaje –
                                    servicio, salidas de observación, encuentros con especialistas, resolución de problemas, rutinas del pensamiento, destrezas del pensamiento entre otras prácticas que son el día a día de los y las estudiantes para que
                                    puedan aplicar este proceso de manera creativa y reflexiva en su vida diaria.
                                </p>
                            </div>
                            <div class="movimiento">
                                <ul>
                                    <li><img src="../../../assets/gallery/basicamedia1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicamedia2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicamedia3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicamedia4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <br>
                    <br>
                    <article class="full-reset" id="superiro">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Básica Superior</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="lead text-justify">
                                    El nivel BÁSICA exige 10 años en la vida de un adolescente ecuatoriano promedio. Básica Superior es el último peldaño del nivel Básica, antes del nivel Bachillerato. Los chicos y chicas inician este subnivel aproximadamente a los 12 años de edad y lo
                                    terminan a los 15 años, los años de la preadolescencia y adolescencia.
                                    <br> Los cursos: 8°, 9° y 10° corresponden a este subnivel, En Básica Superior, durante todo el año y subnivel, se desarrollarán 4 proyectos de manera simultánea por cada parcial: Proyecto Humanístico, Proyecto Científico
                                    o Experimental, Proyecto Cultural y Proyecto de Inglés. Cultura Física, aunque es parte del Proyecto Científico, tiene horas semanales para desarrollar disciplinas deportivas con los estudiantes.
                                </p>
                            </div>
                            <div class="movimiento">
                                <ul>
                                    <li><img src="../../../assets/gallery/basicasupe1.png" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicasupe3.jpeg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicasupe2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/basicasupe4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <div class="divider-general"></div>
                    <article class="full-reset" id="bachilerato">
                        <div class="page-header" style="margin-bottom:50px;">
                            <h1><i class="fa fa-university"></i> &nbsp; Bachillerato</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="lead text-justify">
                                    El Bachillerato actualmente cuenta con un nuevo espacio, que no solo obedece a la necesidad de una nueva estética, sino a cómo concebimos la educación. Los ventanales, las mesas comunes de trabajo, los espacios flexibles, las aulas abiertas, entre otras
                                    cosas, hacen de la actividad diaria una forma alternativa de trabajar y pensar la educación. El trabajo por proyectos y el aprendizaje cooperativo son la base de una propuesta que pretende, al igual que María en la
                                    adovacación de La Dolorosa, mantener los ojos abiertos a la realidad, responder efectivamente al compromiso de transformar la sociedad de manera creativa y diferente.
                                </p>
                            </div>
                            <div class="movimiento">
                                <ul>
                                    <li><img src="../../../assets/gallery/bachi1.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/bachi2.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/bachi3.jpg" alt=""></li>
                                    <li><img src="../../../assets/gallery/bachi4.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>


                    </article>
                </section>
                <app-nav></app-nav>
            </div>
        </div>
    </section>
    <app-footer-landing></app-footer-landing>
</body>