<div class="layout-footer">
    <div class="p-grid">
        <div class="p-col-12 p-md-6  p-lg-5">
            <span class="logo"> &nbsp;&nbsp;&nbsp;SEED School</span>
            <p></p>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <span>Páginas de interes</span>
            <div class="p-grid templates">
                <ul>
                    <li> <a >Inicio</a></li>
                    <li> <a >Landingpage</a></li>
                    <li> <a >Académico</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>