<div class="layout-topbar">
    <div href="#" class="layout-topbar-logo">
        <a href="#">
            <img class="logo" src="./../assets/img/logo2.png" alt="prestige-layout" />
        </a>
    </div>
    <a class="layout-menu-button" href="#" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <ul class="layout-topbar-menu" role="menu">
        <li #settings class="layout-topbar-item" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === settings}">
            <a href="#" class="layout-topbar-icon first" (click)="app.onTopbarItemClick($event,settings)">
                <i class="topbar-icon pi pi-cog"></i>
            </a>
            <ul class="fadeInDown">
                
                <li>
                    <a href="#" class="layout-topbar-icon">
                        <i class="topbar-icon pi pi-id-card"></i>
                    </a>
                    <div class="layout-quickmenu-tooltip">
                        <div class="layout-quickmenu-tooltip-arrow"></div>
                        <div class="layout-quickmenu-tooltip-text">Perfil</div>
                    </div>
                </li>
                <li>
                    <a href="#" class="layout-topbar-icon">
                        <i class="topbar-icon pi pi-sign-out"></i>
                    </a>
                    <div class="layout-quickmenu-tooltip">
                        <div class="layout-quickmenu-tooltip-arrow"></div>
                        <div class="layout-quickmenu-tooltip-text">Salir</div>
                    </div>
                </li>
            </ul>
        </li>
        
        <li #profile class="user-profile" role="menuitem" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
            <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                <div class="user-profile-info profile-link">
                    <span class="user-profile-name">{{ credentials.NOMBRE_USUARIO }}</span>
                    <span class="user-profile-role">{{ credentials.NOMBRE }}</span>
                </div>
                <img class="logo" src="assets/layout/images/avatar/avatar.png" alt="prestige-layout" />
            </a>
            <ul class="fadeInDown">
                <li class="profile-detail">
                    <div class="user-profile-info">
                        <img class="logo" src="assets/layout/images/avatar/avatar.png" alt="prestige-layout" />
                        <div class="profile-info">
                            <span class="user-profile-name">{{ credentials.NOMBRE_USUARIO }}</span>
                            <span class="user-profile-role">{{ credentials.NOMBRE }}</span>
                        </div>
                        <a href="#" class="profile-detail-icon" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-sign-out"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-user"></i>
                        <div class="menu-text">
                            <span class="menu-title">Perfil</span>
                            <span class="menu-subtitle">Editar tu Perfil</span>
                        </div>

                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-cog"></i>
                        <div class="menu-text">
                            <span class="menu-title">Configuraciones</span>
                            <span class="menu-subtitle">Tabla de configuraciones</span>
                        </div>
                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-inbox"></i>
                        <div class="menu-text">
                            <span class="menu-title">Mensajes</span>
                            <span class="menu-subtitle">You have a <div class="blue">3 new</div> messages</span>
                        </div>
                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-globe"></i>
                        <div class="menu-text">
                            <span class="menu-title">Notificaciones</span>
                            <span class="menu-subtitle">No new notification</span>
                        </div>
                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>